<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='/reset.css'>
    <link rel='stylesheet' href='/style.css'>
    <title>Toodoodle</title>
  </head>
  
  
  <body>
    <header>
      <h1><span class='branding'>Toodoodle</span> &ndash; Bringing disorder to the New World Order</h1>
    </header>

    <nav>
      <ul>
        <li><a href='/'>Home</a></li>
        <li><a href='/new'>Create Item</a></li>
      </ul>
    </nav>
    <%= yield %>

  </body>
  
</html>