This is the nooooo view

<form action='/create' method='post'>
  <dl>
    <dt><label for='item'>Item:</dt>
    <dd><input id='item' type='text' name='item' autofocus></dd>
  </dl>
  <dl>
    <dt><label for='details'>Item:</dt>
    <dd><textarea id='details' type='text' name='details'></textarea></dd>
  </dl>
  <button>Add task</button>
</form>